@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Shippori+Mincho&display=swap');

:root{
    --rainbow: #ff0000 0%, #fd1892 17%, #b827fc 34%, #2c90fc 51%, #b8fd33 68%, #f1f506 85%, #feb837 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Shippori Mincho', sans-serif;
    background-color: #222;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

#home, #about, #edu, #projects, #contact {
    background-color: #333;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    /* display: none; */
}


#home.show-nav, #about.show-nav, #edu.show-nav, #projects.show-nav, #contact.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -75px;
    left: -75px;
    z-index: 10000;
}

.circle {
    background-color: rgb(248, 59, 59); 
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

#home.show-nav .circle, #about.show-nav .circle, #edu.show-nav .circle, #projects.show-nav .circle, #contact.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
    z-index: 10000;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

#home.show-nav + nav li, #about.show-nav + nav li, #edu.show-nav + nav li, #projects.show-nav + nav li, #contact.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

/* my name and title */
#HomeHeading{
    margin: 0 4vh 4vh 1vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
}

#HomeHeading h1, h3{
    color: #fff;
    width: 100%;
    margin: 0;
}

#HomeHeading h3{
    animation: slide-in 1s 1;
}

#HomeHeading h1{
    animation: slide-in-pop 1s 1;
}

@keyframes slide-in {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

#HomeHeading h1, h1 {
    font-family: 'Akaya Kanadaka', cursive;
    color: #2c90fc;
    text-shadow: -5px -5px 5px #111, 0 0 0.5em #03269b;
    font-size: 2em;
}    

#HomeHeading h1 {
    animation: slide-in-pop 2s 1 both;
}


h1 {
    text-align: center;
}

@keyframes slide-in-pop {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    50% {  
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    85% {  
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    90% {  
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }

a {
    text-decoration: none;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    padding-left: 20px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
}

nav ul a + a li {
    margin-left: 15px;
    transform: translateX(-150%);

}

nav ul a + a + a li {
    margin-left: 30px;
    transform: translateX(-200%);

}

nav ul a + a + a + a li {
    margin-left: 50px;
    transform: translateX(-250%);
}

nav ul a + a + a + a + a li {
    margin-left: 70px;
    transform: translateX(-300%);
}

.content img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: 20px;
}

.content #circle {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 10%;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, var(--rainbow));
  }

.content {
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about, #projects, #contact, #edu {
    width: 100%;
    height: fit-content;
    min-height: 100%;
    position: absolute;
    /* display: none; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    color: #fff;
    opacity: 0;
}


/* About Page */

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: 100% cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 15vh;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 18px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0;
    opacity: 0;
    color: rgb(13, 13, 63);
    text-shadow: 0 0 1px #0d0f14, 0 0 5px #b7c3e9;
}

.panel.active {
    flex: 6;
    background-size: 100% auto;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
}

section {
    box-sizing: border-box;
    padding: 10px;
}


/* edu/wk */
.edHeading {
    position: relative;
}

#edu img {
    position: absolute;
    height: 100%;
    width: auto;
    left: 64%;
    top: -20%;
    transform: rotate(15deg);
}

p {
    text-align: justify;
    text-justify: inter-word;
}


#projects {
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card img{
    max-width:100%;
}

.card {
    max-width: 90vw;
}

.contacts {
    background-color: rgba(100, 99, 99, 0.5);
    width: 80%;
    padding: 15%;
    margin: 20% 10%;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom right, var(--rainbow));
    border-image-slice: 5;
}

.contacts a {
    color: #fff;
    font-size: 24px;
    text-shadow: -5px -5px 5px #111, 0 0 0.5em #03269b;
}

.fa-twitter-square {
    color:  rgba(29,161,242,1.00);
}

.fa-github-square {
    color: #333;
}

.fa-linkedin {
    color: #2877b5;
}

.fa-codepen {
    color: #222;
}